# Introduction

### Predict Overview: Spain Electricity Shortfall Challenge

The government of Spain is considering an expansion of it's renewable energy resource infrastructure investments and estimates spending USD 14.8 million per year until 2030 for energy storage to decrease CO2 emissions. There are three renewable energy sources in five different cities in Spain to focus on.

Renewable energy sources:
- Solar power
- Wind power
- Hydro power


The key objectives of this research project are as follow:

- Predict the load shortfall between various renewable energies and fossil energy.
- Provide trends and patterns of the countries renewable sources and fossil fuel energy generation.

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Data Preprocessing</a>

<a href=#four>4. Exploratory Data Analysis (EDA)</a>

<a href=#five>5. Data Engineering</a>

<a href=#six>6. Modeling</a>

<a href=#seven>7. Model Performance</a>

<a href=#eight>8. Model Explanations</a>

 <a id="one"></a>
## 1. Importing Packages

In [1]:
# Libraries for data loading, data manipulation and data visulisation
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import datetime as dt

# Libraries for data preparation and model building
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Setting global constants to ensure notebook results are reproducible
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 20)
sns.set(rc={'figure.figsize':(12,8)})

<a id="two"></a>
## 2. Loading the Data

In [2]:
# Loading train and test data from csv files

df1 = pd.read_csv("df_train.csv")
df2 = pd.read_csv("df_test.csv")

## 3. Data Preprocessing
During data preprocessing, data will be cleaned, removed, manipulated and transformed to ensure that it is arranged in an understable format.

Merging of datasets is done so that all the data preprocessing is done simultaneously on both data sets.

In [3]:
# Concatenating df1 and df2 data sets

df_new = pd.concat([df1, df2])
df_new.head()

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,...,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,...,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,...,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667
3,3,2015-01-01 12:00:00,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,...,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667
4,4,2015-01-01 15:00:00,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,...,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667

In [4]:
# Checking the shape of the data set
df_new.shape

(11683, 49)

- The data set consist of 11683 row and 49 columns

In [5]:
df_clean = df_new

### Handling missing values

In [6]:
# Check for the sum and percentage of null values in each column

total_nans = df_clean.isnull().sum().sort_values(ascending=False)
percent_nans = (df_clean.isnull().mean() * 100).sort_values(ascending=False)
df_clean_nans = pd.concat([total_nans, percent_nans], axis=1, keys=['Total NaN', 'Percent NaN'])
df_clean_nans.head()

                    Total NaN  Percent NaN
load_shortfall_3h        2920    24.993580
Valencia_pressure        2522    21.586921
Madrid_weather_id           0     0.000000
Bilbao_pressure             0     0.000000
Seville_weather_id          0     0.000000

- Valencia_pressure has approximately 22% null values.
- load_shortfall_3h has approximately 25% null values this is because the test dataset does not have the depedent variable.

In [7]:
# Replacing Valencia_pressure null values with the mean

df_clean['Valencia_pressure'] = df_clean['Valencia_pressure'].fillna(df_clean['Valencia_pressure'].mean())

In [8]:
# Checking if Valencia_pressure null values have been imputed with the mean

total_nans = df_clean.isnull().sum().sort_values(ascending=False)
percent_nans = (df_clean.isnull().mean() * 100).sort_values(ascending=False)
df_clean_nans = pd.concat([total_nans, percent_nans], axis=1, keys=['Total NaN', 'Percent NaN'])
df_clean_nans.head()

                    Total NaN  Percent NaN
load_shortfall_3h        2920     24.99358
Madrid_weather_id           0      0.00000
Bilbao_pressure             0      0.00000
Seville_weather_id          0      0.00000
Valencia_pressure           0      0.00000

### Processing variables that have random errors or unnecessary data points.

In [9]:
# Drop Unnamed: 0

df_clean = df_clean.drop(['Unnamed: 0'], axis = 1)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11683 entries, 0 to 2919
Data columns (total 48 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   time                  11683 non-null  object
 1   Madrid_wind_speed     11683 non-null  float64
 2   Valencia_wind_deg     11683 non-null  object
 3   Bilbao_rain_1h        11683 non-null  float64
 4   Valencia_wind_speed   11683 non-null  float64
 5   Seville_humidity      11683 non-null  float64
 6   Madrid_humidity       11683 non-null  float64
 7   Bilbao_clouds_all     11683 non-null  float64
 8   Bilbao_wind_speed     11683 non-null  float64
 9   Seville_clouds_all    11683 non-null  float64
 10  Bilbao_wind_deg       11683 non-null  float64
 11  Barcelona_wind_speed  11683 non-null  float64
 12  Barcelona_wind_deg    11683 non-null  float64
 13  Madrid_clouds_all     11683 non-null  float64
 14  Seville_wind_speed    11683 non-null  float64
 15  Barcelona_rain_1h     11683 non-null  float64
 16  Seville_pressure      11683 non-null  object
 17  Seville_rain_1h       11683 non-null  float64
 18  Bilbao_snow_3h        11683 non-null  float64
 19  Barcelona_pressure    11683 non-null  float64
 20  Seville_rain_3h       11683 non-null  float64
 21  Madrid_rain_1h        11683 non-null  float64
 22  Barcelona_rain_3h     11683 non-null  float64
 23  Valencia_snow_3h      11683 non-null  float64
 24  Madrid_weather_id     11683 non-null  float64
 25  Barcelona_weather_id  11683 non-null  float64
 26  Bilbao_pressure       11683 non-null  float64
 27  Seville_weather_id    11683 non-null  float64
 28  Valencia_pressure     11683 non-null  float64
 29  Seville_temp_max      11683 non-null  float64
 30  Madrid_pressure       11683 non-null  float64
 31  Valencia_temp_max     11683 non-null  float64
 32  Valencia_temp         11683 non-null  float64
 33  Bilbao_weather_id     11683 non-null  float64
 34  Seville_temp          11683 non-null  float64
 35  Valencia_humidity     11683 non-null  float64
 36  Valencia_temp_min     11683 non-null  float64
 37  Barcelona_temp_max    11683 non-null  float64
 38  Madrid_temp_max       11683 non-null  float64
 39  Barcelona_temp        11683 non-null  float64
 40  Bilbao_temp_min       11683 non-null  float64
 41  Bilbao_temp           11683 non-null  float64
 42  Barcelona_temp_min    11683 non-null  float64
 43  Bilbao_temp_max       11683 non-null  float64
 44  Seville_temp_min      11683 non-null  float64
 45  Madrid_temp           11683 non-null  float64
 46  Madrid_temp_min       11683 non-null  float64
 47  load_shortfall_3h     8763 non-null   float64
dtypes: float64(45), object(3)
memory usage: 4.4+ MB

- Unnamed: 0 has been removed from the data set. 
- It can also be observed that Valencia_wind_deg and Seville_pressure data type is object.

### Changing data type

Most machine learning algorithms require all input and output variables to be numeric.

In [10]:
df_clean['Valencia_wind_deg']

0        level_5
1       level_10
2        level_9
3        level_8
4        level_7
          ...
2915     level_9
2916     level_8
2917     level_6
2918     level_6
2919    level_10
Name: Valencia_wind_deg, Length: 11683, dtype: object

In [11]:
# Extracting numeric values from Valencia_wind_deg column
# Changing Valencia_wind_deg dtype from object to int64

df_clean['Valencia_wind_deg'] = df_clean['Valencia_wind_deg'].str.extract('(\d+)')
df_clean['Valencia_wind_deg'] = pd.to_numeric(df_clean['Valencia_wind_deg'])

In [12]:
df_clean["Seville_pressure"]

0       sp25
1       sp25
2       sp25
3       sp25
4       sp25
        ...
2915    sp24
2916    sp24
2917    sp23
2918    sp23
2919    sp23
Name: Seville_pressure, Length: 11683, dtype: object

In [13]:
# Cxtracting numeric values from Seville_pressure column
# Changing Valencia_wind_deg dtype from object to int64

df_clean['Seville_pressure'] = df_clean['Seville_pressure'].str.extract('(\d+)')
df_clean['Seville_pressure'] = pd.to_numeric(df_clean['Seville_pressure'])

In [14]:
# Looking at the statistics

df_clean.describe()

,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
count,11683.000000,11683.000000,11683.000000,11683.000000,11683.000000,11683.000000,11683.000000,11683.000000,11683.000000,11683.000000,...,11683.000000,11683.000000,11683.000000,11683.000000,11683.000000,11683.000000,11683.000000,11683.000000,11683.000000,8763.000000
mean,2.433750,5.476590,0.118698,2.692873,63.774687,58.721818,43.440712,1.958629,14.155268,159.878855,...,289.377372,289.869413,284.993657,286.447784,288.616766,288.095397,291.263219,288.282055,287.056222,10673.857612
std,1.831762,2.863384,0.334918,2.321759,22.219380,24.390621,32.046215,1.696043,24.541321,101.005654,...,9.594562,6.680538,6.730076,6.738466,6.391989,6.898601,8.136234,9.258559,9.093455,5218.046404
min,0.000000,1.000000,0.000000,0.000000,8.333333,6.333333,0.000000,0.000000,0.000000,0.000000,...,264.983333,270.816667,264.483333,267.483333,269.483333,269.063000,270.150000,264.983333,264.983333,-6618.000000
25%,1.000000,3.000000,0.000000,1.000000,46.333333,38.000000,12.000000,1.000000,0.000000,76.666667,...,282.150000,284.816667,280.122526,281.483448,284.150000,283.150000,285.483333,281.250000,280.150000,7390.333333
50%,2.000000,5.000000,0.000000,2.000000,67.000000,59.333333,45.000000,1.333333,0.000000,145.666667,...,287.843333,289.426667,284.816667,286.193333,288.276333,287.816667,290.382000,286.923333,285.816667,11114.666667
75%,3.333333,8.000000,0.100000,3.666667,83.000000,80.000000,75.000000,2.666667,20.000000,233.333333,...,296.483333,295.150000,289.816667,291.040000,293.483333,292.483333,296.641333,294.993167,293.708917,14498.166667
max,13.333333,10.000000,3.000000,52.000000,100.000000,100.000000,100.000000,12.666667,97.333333,360.000000,...,314.483333,308.150000,309.816667,310.710000,306.816667,317.966667,314.816667,313.133333,310.383333,31904.000000

## 4. Exploratory Data Analysis

In [ ]:
plt.plot(df_clean.time, df_clean.load_shortfall_3h)
plt.xlabel('Time')
plt.ylabel('Load Shortfall 3h')
plt.title('Spain Electricity Shortfall')

Text(0.5, 1.0, 'Spain Electricity Shortfall')

In [ ]:
# Using Pairplot method to understand the distribution of each variable
df_clean.hist(figsize=(30,15))
plt.show()

In [ ]:
# Reorder columns so that our dependent variable is the last column of the dataframe
column_titles = [col for col in df_clean.columns if col!= 'load_shortfall_3h'] + ['load_shortfall_3h']
df_clean = df_clean.reindex(columns=column_titles)

In [ ]:
# Evaluate correlation
correlation = df_clean.corr()
sns.heatmap(correlation, xticklabels=correlation.columns, yticklabels=correlation.columns, annot =True)

## 5. Data Engineering

In [ ]:
df_clean['time']

In [ ]:
# Changing dtype for the time variable from object to datetime64

df_clean['time'] = pd.to_datetime(df_clean['time'])

# Creating new features: day, month, year, weekday, hour

df_clean['day']= df_clean['time'].dt.day
df_clean['month']= df_clean['time'].dt.month
df_clean['year']= df_clean['time'].dt.year
df_clean['weekday']= df_clean['time'].dt.weekday
df_clean['hour']= df_clean['time'].dt.hour

In [ ]:
# Drop time variable
df_clean = df_clean.drop(['time'], axis = 1)
df_clean.head()

In [ ]:
# with the following function we can select highly correlated features
# it will remove the first feature that is correlated with anything other feature

def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [ ]:
corr_features = correlation(df_clean, 0.8)
len(set(corr_features))

In [ ]:
corr_features

In [ ]:
df_clean= df_clean.drop(corr_features,axis=1)

In [ ]:
# evaluate correlation
from statsmodels.graphics.correlation import plot_corr

fig = plt.figure(figsize=(15,15));
ax = fig.add_subplot(111);
plot_corr(df_clean.corr(), xnames = df_clean.corr().columns, ax = ax);

## 6. Modelling

### Preparing to Model

In [ ]:
# split data
y = df_clean[:len(df1)][['load_shortfall_3h']]

x = df_clean[:len(df1)].drop('load_shortfall_3h',axis=1)
# Ignore for now
x_train = df_clean[:len(df1)].drop('load_shortfall_3h',axis=1)
x_test = df_clean[len(df1):].drop('load_shortfall_3h',axis=1)

### Load Model

In [ ]:
# create targets and features dataset
#lr = LinearRegression()
regressor = RandomForestRegressor(n_estimators = 500, random_state = 0)

In [ ]:
# Using just the training dataset to test model accuracy 
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2)

In [ ]:
regressor.fit(x_train,y_train)

preds = regressor.predict(x_test)

### Evaluate Model

In [ ]:
def rmse(y_test, y_predict):
    return np.sqrt(mean_squared_error(y_test, y_predict))

In [ ]:
rmse(y_test, preds)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test, preds)

### Making a submission

In [ ]:
#Make submission
x_train = df_clean[:len(df1)].drop('load_shortfall_3h',axis=1)
x_test = df_clean[len(df1):].drop('load_shortfall_3h',axis=1)

In [ ]:
regressor.fit(x_train,y)

preds = regressor.predict(x_test)

In [ ]:
daf=pd.DataFrame(preds, columns=['load_shortfall_3h'])
daf.head()

In [ ]:
output = pd.DataFrame({"time":df2['time']})
submission = output.join(daf)        
submission.to_csv("submission.csv", index=False)

In [ ]:
submission

## 7. Modelling Perfomance

## 8. Model Explanation